* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container-griglia {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.quadrato {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.quadrato-giallo {
    background-color: yellow;
}

.quadrato-verde {
    background-color: green;
}

.active {
}
